@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//cdn.jsdelivr.net/font-spoqa-han-sans/subset/spoqahansans-kr.css');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic');

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Spoqa Han Sans', 'Noto Sans CJK KR', Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

md-toolbar .md-avatar {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  flex: none;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;
}
