@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic');

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Noto Sans CJK KR', Roboto, "Helvetica Neue", sans-serif;
}

md-toolbar .md-avatar {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  flex: none;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;
}

#blocklyDiv {
  height: 600px;
  width: 1200px;
  /*padding: 0px !important;*/
}

#toolbox {
  display: none;
}

#code {
  height: 400px;
}
